<a href="https://colab.research.google.com/github/junieberry/NLP-withPyTorch/blob/main/04_MLP_surname/04_MLP_surname_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!cd /content/drive/MyDrive/nlp-with-pytorch/chapter_4/4_2_mlp_surnames/data
!chmod 755 get-all-data.sh
!./get-all-data.sh

In [5]:

import collections
import numpy as np
import pandas as pd
import re

from argparse import Namespace

In [8]:
args = Namespace(
    raw_dataset_csv="surnames/surnames.csv",
    train_proportion=0.7,
    val_proportion=0.15,
    test_proportion=0.15,
    output_munged_csv="surnames/surnames_with_splits.csv",
    seed=1337
)

In [9]:
surnames = pd.read_csv(args.raw_dataset_csv, header=0)

In [10]:
surnames

        surname nationality
0      Woodford     English
1          Coté      French
2          Kore     English
3         Koury      Arabic
4        Lebzak     Russian
...         ...         ...
10975  Quraishi      Arabic
10976   Innalls     English
10977      Król      Polish
10978    Purvis     English
10979  Messerli      German

[10980 rows x 2 columns]

In [11]:
set(surnames.nationality)

{'Arabic',
 'Chinese',
 'Czech',
 'Dutch',
 'English',
 'French',
 'German',
 'Greek',
 'Irish',
 'Italian',
 'Japanese',
 'Korean',
 'Polish',
 'Portuguese',
 'Russian',
 'Scottish',
 'Spanish',
 'Vietnamese'}

In [12]:
## 국가별로 정리
by_nationality = collections.defaultdict(list)
for _, row in surnames.iterrows():
    by_nationality[row.nationality].append(row.to_dict())

In [ ]:
by_nationality

In [14]:
final_list = []
np.random.seed(args.seed)
for _, item_list in sorted(by_nationality.items()):
    np.random.shuffle(item_list)
    n = len(item_list)
    n_train = int(args.train_proportion*n)
    n_val = int(args.val_proportion*n)
    n_test = int(args.test_proportion*n)
    
    # Give data point a split attribute
    for item in item_list[:n_train]:
        item['split'] = 'train'
    for item in item_list[n_train:n_train+n_val]:
        item['split'] = 'val'
    for item in item_list[n_train+n_val:]:
        item['split'] = 'test'  
    
    # Add to final list
    final_list.extend(item_list)

In [15]:
final_surnames = pd.DataFrame(final_list)

In [16]:
final_surnames.split.value_counts()

train    7680
test     1660
val      1640
Name: split, dtype: int64

In [17]:
final_surnames

        surname nationality  split
0         Totah      Arabic  train
1        Abboud      Arabic  train
2      Fakhoury      Arabic  train
3         Srour      Arabic  train
4        Sayegh      Arabic  train
...         ...         ...    ...
10975      Dinh  Vietnamese   test
10976     Phung  Vietnamese   test
10977     Quang  Vietnamese   test
10978        Vu  Vietnamese   test
10979        Ha  Vietnamese   test

[10980 rows x 3 columns]

In [18]:
final_surnames.to_csv(args.output_munged_csv, index=False)